body {
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('%PUBLIC_URL%/portfolio-logo.png');
  z-index: -1;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
